footer{
	width:100%;
	height: 40px;
	margin-top: 60px;
	background-color: #2E2E2E;
	/* border: black solid 1px; */
}
.f1{
	padding-top:10px;
	text-align: center;
}
.f1 p{
	color: white;
	font-weight: 700;
}
footer ul{
	width: 100%;
	height: 20px;
	margin-top:-20px;
}
footer li{
	width: 50%;
	float: left;
	color: white;
	font-size: 14px;
	text-align: center;
}
footer li a{
	color: white;
	margin-right: 10px;
}
 #myBtn {
		width:45px;
	 	height:45px;
	    display: none;
	    position: fixed;
	    bottom: 50px;
	    right: 25px;
	    z-index: 99;
	    border: none;
	    outline: none;
	    background-color: white;
	 	border-radius: 5px;
	    cursor: pointer;
	 	border:gray solid 1px;
}
#myBtn i{
	font-size:18px;
}
 #myBtn i:hover {
	color:purple;
}				