* {
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
}
/*初始化样式*/
img {
	outline: none;
	border: 0;
}

body {
	font-family: "Microsoft Yahei";
	background-color: white;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

/*浮动*/
.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

#all3 {
	width: 100%;
	min-width: 1320px;
}
.content {
	float: left;
}

.flex-text-wrap,
pre {
	margin: 0 !important;
}
/* 导航栏 */
header {
	width: 100%;
	box-sizing: border-box;
}

nav {
	width: 100%;
	height: 50px;
	background-color: #E3CEF6;
}

.fixednav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999;
}

nav ul {
	margin: 0 auto;
}

nav ul li {
	width: 17%;
	float: left;
	color: white;
	font-size: 15px;
	margin-top: 13px;
	font-weight: 700;
}

nav ul li:nth-child(1) {
	margin-left: 15%;
}

nav ul li:nth-child(3) {
	font-size: 17px;
}
section{
	width: 100%;
	height: 1000px;
}
/* 动态 */
.main_left{
	width: 50%;
	float: left;
	margin-top:60px;
}
.main_left ul{
	width: 100%;
	margin-left:50px;
	height: 1000px;
	border: 1px solid #ededed;
}
.main_left li:nth-child(1){
	width:90%;
	height: 40px;
	margin:0 auto;
	margin-top:10px;
	border-bottom: 2px solid #D0A9F5;
}
.main_left li:nth-child(1) span{
	font-size: 25px;
	/* border: 1px solid #ededed; */
}
.main_left li:nth-child(1) i{
	color:#BE81F7;
	margin-right: 2px;
}
.main_left li:nth-child(1) a{
	width: 70px;
	height: 20px;
	float: right;
	color:black;
	font-size: 13px;
	margin-top:10px;
	margin-left: 10px;
	text-align: center;
	border-radius:15px;
	border: 1px solid #D8D8D8;
}
/* 日常动态1 */
.main_left li:nth-child(2){
	width:90%;
	height:200px;
	margin:0 auto;
	margin-top:20px;
	border: 1px solid white;
	box-shadow:rgba(0,0,0,0.2) 0px 0px 4px;
}
.main_left li:nth-child(2) .d1{
	width: 90%;
	height: 50px;
	margin:0 auto;
	margin-top:10px;
	border: 1px solid white;
}
.main_left li:nth-child(2) .d1 p{
	color:#BE81F7;
	font-size: 13px;
	font-weight: 600;
	margin-top:5px;
}
.main_left li:nth-child(2) .d1 span{
	color:grey;
	font-size: 10px;
}
.main_left li img{
	float: left;
	margin-right: 10px;
	border-radius: 25px;
}
.main_left li:nth-child(2) .d1-1{
	width: 90%;
	height: 80px;
	margin:0 auto;
	margin-top:10px;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(2) .d1-1 h5{
	color: #6E6E6E;
	margin-bottom: 10px;
}
.main_left li:nth-child(2) .d1-1 p{
	font-size: 13px;
	line-height: 20px;
}
.main_left li:nth-child(2) .d2-2{
	width: 90%;
	height: 25px;
	margin:0 auto;
	margin-top:10px;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(2) .d2-2 a{
	color: #AC58FA;
	font-size: 0.6em;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #E6E6E6;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(2) .d2-2 i{
	margin-left:8px;
}
.main_left li:nth-child(2) .d2-2 span{
	color: #848484;
	margin-top:2px;
	margin-right: 10px;
	font-size:0.6em;
	float: right;
}
.main_left li:nth-child(2) .d2-2 span i{
	color: #BDBDBD;
	margin-right:5px;
}
/* 日常动态2 */
.main_left li:nth-child(3){
	width:90%;
	height:200px;
	margin:0 auto;
	margin-top:20px;
	border: 1px solid white;
	box-shadow:rgba(0,0,0,0.2) 0px 0px 4px;
}
.main_left li:nth-child(3) .d1{
	width: 90%;
	height: 50px;
	margin:0 auto;
	margin-top:10px;
	border: 1px solid white;
}
.main_left li:nth-child(3) .d1 p{
	color:#BE81F7;
	font-size: 13px;
	font-weight: 600;
	margin-top:5px;
}
.main_left li:nth-child(3) .d1 span{
	color:grey;
	font-size: 10px;
}
.main_left li:nth-child(3) .d1-1{
	width: 90%;
	height: 80px;
	margin:0 auto;
	margin-top:10px;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(3) .d1-1 h5{
	color: #6E6E6E;
	margin-bottom: 10px;
}
.main_left li:nth-child(3) .d1-1 p{
	font-size: 13px;
	line-height: 20px;
}
.main_left li:nth-child(3) .d2-2{
	width: 90%;
	height: 25px;
	margin:0 auto;
	margin-top:10px;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(3) .d2-2 a{
	color: #AC58FA;
	font-size: 0.6em;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #E6E6E6;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(3) .d2-2 i{
	margin-left:8px;
}
.main_left li:nth-child(3) .d2-2 span{
	color: #848484;
	margin-top:2px;
	margin-right: 10px;
	font-size:0.6em;
	float: right;
}
.main_left li:nth-child(3) .d2-2 span i{
	color: #BDBDBD;
	margin-right:5px;
}
/* 日常动态3 */
.main_left li:nth-child(4){
	width:90%;
	height:200px;
	margin:0 auto;
	margin-top:20px;
	border: 1px solid white;
	box-shadow:rgba(0,0,0,0.2) 0px 0px 4px;
}
.main_left li:nth-child(4) .d1{
	width: 90%;
	height: 50px;
	margin:0 auto;
	margin-top:10px;
	border: 1px solid white;
}
.main_left li:nth-child(4) .d1 p{
	color:#BE81F7;
	font-size: 13px;
	font-weight: 600;
	margin-top:5px;
}
.main_left li:nth-child(4) .d1 span{
	color:grey;
	font-size: 10px;
}
.main_left li:nth-child(4) .d1-1{
	width: 90%;
	height: 80px;
	margin:0 auto;
	margin-top:10px;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(4) .d1-1 h5{
	color: #6E6E6E;
	margin-bottom: 10px;
}
.main_left li:nth-child(4) .d1-1 p{
	font-size: 13px;
	line-height: 20px;
}
.main_left li:nth-child(4) .d2-2{
	width: 90%;
	height: 25px;
	margin:0 auto;
	margin-top:10px;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(4) .d2-2 a{
	color: #AC58FA;
	font-size: 0.6em;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #E6E6E6;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(4) .d2-2 i{
	margin-left:8px;
}
.main_left li:nth-child(4) .d2-2 span{
	color: #848484;
	margin-top:2px;
	margin-right: 10px;
	font-size:0.6em;
	float: right;
}
.main_left li:nth-child(4) .d2-2 span i{
	color: #BDBDBD;
	margin-right:5px;
}
/* 日常动态4 */
.main_left li:nth-child(5){
	width:90%;
	height:200px;
	margin:0 auto;
	margin-top:20px;
	border: 1px solid white;
	box-shadow:rgba(0,0,0,0.2) 0px 0px 4px;
}
.main_left li:nth-child(5) .d1{
	width: 90%;
	height: 50px;
	margin:0 auto;
	margin-top:10px;
	border: 1px solid white;
}
.main_left li:nth-child(5) .d1 p{
	color:#BE81F7;
	font-size: 13px;
	font-weight: 600;
	margin-top:5px;
}
.main_left li:nth-child(5) .d1 span{
	color:grey;
	font-size: 10px;
}
.main_left li:nth-child(5) .d1-1{
	width: 90%;
	height: 80px;
	margin:0 auto;
	margin-top:10px;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(5) .d1-1 h5{
	color: #6E6E6E;
	margin-bottom: 10px;
}
.main_left li:nth-child(5) .d1-1 p{
	font-size: 13px;
	line-height: 20px;
}
.main_left li:nth-child(5) .d2-2{
	width: 90%;
	height: 25px;
	margin:0 auto;
	margin-top:10px;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(5) .d2-2 a{
	color: #AC58FA;
	font-size: 0.6em;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #E6E6E6;
	/* border: 1px solid #D8D8D8; */
}
.main_left li:nth-child(5) .d2-2 i{
	margin-left:8px;
}
.main_left li:nth-child(5) .d2-2 span{
	color: #848484;
	margin-top:2px;
	margin-right: 10px;
	font-size:0.6em;
	float: right;
}
.main_left li:nth-child(5) .d2-2 span i{
	color: #BDBDBD;
	margin-right:5px;
}
.main_left li:nth-child(6){
	width:30%;
	height:30px;
	margin:0 auto;
	margin-top:15px;
	border: 1px solid white;
	border-radius: 10px;
	background-color: #E6E6E6;
	box-shadow:rgba(0,0,0,0.2) 0px 0px 4px;
}
.main_left li:nth-child(6) p{
	margin-top:4px;
	text-align: center;
}
.main_left li:nth-child(6) a{
	color: #9A2EFE;
	font-size: 12px;
}
/* 主页详情 */
.zy{
	width: 80%;
	height:200px;
	float: right;
	margin-right:60px;
	background-color: #FAFAFA;
	border: 1px solid #F2F2F2;
}
.zy-1{
	width: 70%;
	height: 90px;
	margin: 0 auto;
	margin-top:30px;
	/* border: 1px solid #ededed; */
}
.zy-1 img{
	width: 22%;
	border: 2px solid white;
	box-shadow:rgba(0,0,0,0.2) 0px 0px 4px;
}
.zy-11{
	width: 70%;
	height: 90px;
	float: right;
	margin-top:8px;
}
.zy-11 span{
	font-size: 15px;
	font-weight: 700;
}
.zy-11 p{
	width: 100%;
	color:#191919;
	margin-top:10px;
	font-size:12px;
}
.zy-2{
	width: 70%;
	height: 70px;
	margin: 0 auto;
	margin-top:5px;
	/* border: 1px solid #ededed; */
}
table{
	width:90%;
}
table tr{
	height: 30px;
}
table td{
	color: #6E6E6E;
	font-size:15px;
	font-weight: 600;
	font-family: 微软雅黑;
}
/* 最近更新 */
.main1{
	width: 50%;
	float: right;
	margin-top:60px;
}
.main1 ul{
	width: 80%;
	height:380px;
	float: right;
	margin-right:60px;
	padding-top: 10px;
	border: 1px solid #ededed;
}
.main1 li{
	width: 100%;
	margin-left:50px;
	border: white solid 1px;
}
.main1 li:nth-child(1){
	width: 13%;
	height:25px;
	color: white;
	font-size: 0.7em;
	margin-bottom: 20px;
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
	border-radius: 10px;
}
.main1 li:nth-child(1) i{
	padding-top:8px;
	margin-left: 3px;
	margin-right: 5px;
}
.main1 li:nth-child(2) img{
	float: left;
	border-radius:25px;
	margin-right:10px;
}
.main1 li:nth-child(3){
	width: 80%;
	margin-top:20px;
}
.main1 li:nth-child(3) p{
	font-size:14px;
	font-weight:400;
	font-family: "arial narrow";
}
.main1 li:nth-child(4){
	margin-top:10px;
}
.main1 li:nth-child(4) img{
	width: 80%;
	height: 200px;
	background-size: cover;
}
.main1-1{
	width: 40%;
	margin-top:5px;
}
.main1-1 span{
	color:#BE81F7;
	font-size: 15px;
	font-weight: 700;
}
.main1-1 p{
	font-size:12px;
	color:grey;
}

/* 评论部分 */
.commentAll {
	width: 92.4%;
	padding: 20px 20px 10px 20px;
	margin-top:12px;
	border: 1px solid #ededed;
}

.plBtn {
	width: 75px;
	height: 36px;
	line-height: 36px;
	background-color: #BE81F7;
	text-align: center;
	display: block;
	float: right;
	color: #FFFFFF;
	font-size: 12px;
	border-radius: 6px;
	margin-right: 2px;
	margin-top: 15px;
}

.plBtn:hover {
	background-color: #AC58FA;
}

/*----------评论区域 begin----------*/
.comment-show {
	margin-top: 15px;
}

.comment-show-con {
	width: 100%;
	border-top: 1px solid #EDEDED;
	padding: 10px 0;
}

.comment-show-con-img {
	width: 48px;
	height: 48px;
	overflow: hidden;
	margin-top: 5px;
}

.comment-show-con-list {
	width: 85%;
	margin-left: 3%;
}

.pl-text {
	width: 100%;
	margin-top: 7px;
	word-wrap: break-word;
	overflow: hidden;
}

.date-dz {
	width: 100%;
	float: left;
}

.hf-list-con {
	float: left;
	width: 100%;
	background-color: #eaeaec;
	margin-top: 7px;
}

.comment-size-name {
	font-size: 12px;
	color: #9A2EFE;
}

.my-pl-con {
	font-size: 12px;
	color: #8b8b8b;
	width: 100%;
}

.date-dz-left {
	font-size: 12px;
	color: #8b8b8b;
	display: block;
	padding-top: 18px;
}

.comment-time,
.comment-pl-block {
	padding-top: 7px;
}

.comment-pl-block {
	margin-top: 0;
}

.date-dz-right {
	display: block;
	padding-top: 6px;
	padding-right: 18px;
	position: relative;
	overflow: hidden;
}

.removeBlock {
	float: left;
	font-size: 12px;
	color: #8b8b8b;
	margin-right: 24px;
	display: block;
	opacity: 0;
}

.hf-con-block {
	display: block;
}

.date-dz-pl,
.date-dz-line,
.date-dz-z {
	font-size: 12px;
	color: #8b8b8b;
}

.date-dz-line {
	display: block;
	padding: 0 20px;
}

.date-dz-z-click-red {
	width: 17px;
	height: 17px;
	display: block;
	float: left;
	background-image: url(../images/icon-all_01.png);
	background-repeat: no-repeat;
	background-position: -6px -198px;
	margin-right: 5px;
}

.z-num {
	font-style: normal;
}

.date-dz-z-click {
	color: #b83b44;
}

.red {
	background-position: -6px -119px !important;
}

.hf-pl {
	width: 70px;
	height: 30px;
	line-height: 30px;
	background-color: #339b53;
	text-align: center;
	display: block;
	float: right;
	color: #FFFFFF;
	font-size: 12px;
	border-radius: 6px;
	margin-right: 2px;
	margin-top: 20px;
}

.hf-con {
	width: 100%;
	margin-top: 24px;
}

.hf-input {
	font-size: 12px;
}

.all-pl-con {
	width: 96%;
	padding: 2% 0;
	float: left;
	margin: 0 2%;
}

.atName {
	font-size: 12px;
	color: #339b53;
}

.hfpl-text {
	margin-top: 0;
}

.date-dz:hover .removeBlock {
	opacity: 1;
}

.hf-list-con .all-pl-con {
	border-top: 1px solid #d9d9d9;
	padding-bottom: 12px;
}

.hf-list-con .all-pl-con:first-child {
	border-top: 0;
}
/* 底部 */
footer{
	width:100%;
	height: 40px;
	margin-top:100px;
	background-color: #2E2E2E;
}
.f1{
	padding-top:10px;
	text-align: center;
}
.f1 p{
	color: white;
	font-weight: 700;
}
footer ul{
	width: 100%;
	height: 20px;
	margin-top:-20px;
}
footer li{
	width: 50%;
	float: left;
	color: white;
	font-size: 14px;
	text-align: center;
}
footer li a{
	color: white;
	margin-right: 10px;
}


/*----------评论区域 end----------*/
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.flex-text-wrap {
	width: 100%;
	position: relative;
	*zoom: 1;
}

textarea,
.flex-text-wrap {
	outline: 0;
	margin: 0;
	border: none;
	padding: 0;
	*padding-bottom: 0 !important;
}

.flex-text-wrap textarea,
.flex-text-wrap pre {
	*white-space: pre;
	*word-wrap: break-word;
	white-space: pre-wrap;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.flex-text-wrap textarea {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	resize: none;
	/* IE7 box-sizing fudge factor */
	*height: 94%;
	*width: 94%;
}

.flex-text-wrap pre {
	display: block;
	visibility: hidden;
}

.flex-text-wrap,
textarea {
	margin-bottom: 25px
}

textarea,
.flex-text-wrap pre {
	line-height: 1.7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	padding: 10px 15px;
	border: 1px solid #c6c8ce;
	width: 100%;
	-webkit-appearance: none;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 8px rgba(182, 195, 214, .6) inset, 0 1px 1px #fff;
	-moz-box-shadow: 0 0 8px rgba(182, 195, 214, .6) inset, 0 1px 1px #fff;
	box-shadow: 0 0 8px rgba(182, 195, 214, .6) inset, 0 1px 1px #fff;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	transition-duration: 300ms;
	-webkit-transition-easing: ease-in-out;
	-moz-transition-easing: ease-in-out;
	-o-transition-easing: ease-in-out;
	-ms-transition-easing: ease-in-out;
	transition-easing: ease-in-out;
	-webkit-transition-property: border-color, -webkit-box-shadow;
	-webkit-transition-property: border-color, box-shadow;
	-moz-transition-property: border-color, -moz-box-shadow;
	-moz-transition-property: border-color, box-shadow;
	-o-transition-property: border-color, box-shadow;
	-ms-transition-property: border-color, box-shadow;
	transition-property: border-color, box-shadow;
}

.fork-link {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 140px;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.25),
(min-resolution:120dpi) {
	html {
		background-size: 51px auto;
	}
}
